# pycharm cache
/.idea

# virtual environment
/venv

# gradio log
/flagged

# environment variables
.env

# mysql mounted storage
/mysql/data
/mysql/log
/mysql/conf.d

# chroma related storage
/chroma/data/

# python runtime cache
__pycache__/